* {
  margin: 0;
}
hr{
  margin:10px;
}

/* 1-半透明边框 */
div#border-container {
  background: url("./images/stone-art.jpg");
  overflow: hidden;
}

h2{
  margin: 15px;
}


h3{
  margin: 10px;
}
div.translucent-border {
  border: 10px solid hsla(0, 0%, 100%, 0.5);
  background: white;
  background-clip: padding-box;
  max-width: 20em;
  padding: 2em;
  margin: 2em auto 0;
  font: 100%/1.5 sans-serif;
}

/* 2-多重边框 */
div#multiple-border-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
div.multiple-border {
  width: 160px;
  height: 100px;
  background-color: yellowgreen;
  box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink,
    0 2px 5px 15px rgba(0, 0, 0, 0.6);
}

div.multiple-border-inset {
  width: 160px;
  height: 100px;
  background-color: pink;
  box-shadow: inset 0 0 0 10px #655;
  padding: 10px;
}

div.multiple-border-outline {
  width: 160px;
  height: 100px;
  background: yellowgreen;
  border: 10px solid #655;
  outline: 5px solid deeppink;
  /* 圆角 */
  /* border:2px solid #655 ;
    border-radius: 15px;
    outline: 2px solid deeppink; */
}

/* 3-灵活的背景定位 */
#flexible-background-position {
  display: flex;
  justify-content: space-around;
}
.extended-background-position {
  background: url("./images/star.png") no-repeat #58a;
  background-position: right 20px bottom 10px;
  /* styling */
  min-width: 200px;
  max-width: 10em;
  min-height: 5em;
  padding: 10px;
  color: white;
}
.background-origin {
  background: url("./images/star.png") no-repeat #58a bottom right;
  background-origin: content-box;
  /* styling */
  min-width: 200px;
  max-width: 10em;
  min-height: 5em;
  padding: 10px;
  color: white;
}

.background-position-calc {
  background: url("./images/star.png") no-repeat #58a bottom right;
  background-position: calc(100% - 20px) calc(100% - 10px);
  /* styling */
  min-width: 200px;
  max-width: 10em;
  min-height: 5em;
  padding: 10px;
  color: white;
}
/* 4-边框内圆角 */
#inner-rounding {
  display: flex;
  justify-content: space-around;
}
.outline-and-shadow {
  margin: 20px;
  outline: 8px solid lightblue;
  box-shadow: 0 0 0 6px lightblue;
  border-radius: 5px;
  max-width: 12em;
}
.box-shadow-border {
  margin: 20px;
  outline: 10px solid lightblue;
  box-shadow: 0 0 0 8px red;
  border-radius: 8px;
  max-width: 12em;
}

.horizontal-background {
  display: flex;
  justify-content: space-around;
}

.horizontal-stripes {
  width: 240px;
  height: 240px;
  /* 某个色标的位置值比整个列表中在它之前的色标位置都笑，则被设置为它之前所以色标的最大值 */
  background: linear-gradient(#fb3 50%, #58a 0);
  background-size: 100% 30px;
}

.horizontal-stripes-no {
  width: 240px;
  height: 240px;
  background: linear-gradient(#fb3 30%, #58a 0);
  background-size: 100% 30px;
}

.horizontal-stripes-multi {
  width: 240px;
  height: 240px;
  background: linear-gradient(#fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
  background-size: 100% 30px;
}

.vertical-stripes {
  margin-left: 60px;
  width: 200px;
  height: 200px;
  /* 默认是to bottom */
  background: linear-gradient(to right, #fb3 50%, #58a 0);
  background-size: 30px 100%;
}
.diagonal-stripes {
  display: flex;
  justify-content: space-around;
}

.diagonal-stripes-test2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, #fb3 50%, #58a 0);
  background-size: 30px 30px;
}

.diagonal-stripes-true {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0 ); 
    background-size: 42.4px 42.4px;
}

.diagonal-stripes-repeat {
  width: 200px;
  height: 200px;
  background: repeating-linear-gradient( 60deg, #fb3, #fb3 15px, #58a 0, #58a 30px );
  /*  等价于
  background: repeating-linear-gradient( 60deg, #fb3, #fb3 15px, #58a 15px, #58a 30px ,#fb3 30px, #fb3 45px,...);
  */
}

.subtle-stripes{
    width: 200px;
    height: 200px;
    background: #58a;
    background-image: repeating-linear-gradient(30deg, 
    hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px,
    transparent 0, transparent 30px);
}

.complex-background{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.check-pattern{
  width: 200px;
  height: 200px;
  background: #fff;
  background-image:linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
  linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
  background-size: 30px 30px ;
}

.blue-print-1{
  width: 200px;
  height: 200px;
  background: #58a;
  background-image:linear-gradient(white 1px, transparent 0),
  linear-gradient(to right,white 1px, transparent 0) ;
  background-size: 30px 30px;
}

.blue-print-grid{
  width: 200px;
  height: 200px;
  background: #58a;
  background-image: linear-gradient(white 2px, transparent 0),
                  linear-gradient(90deg, white 2px, transparent 0),
                  linear-gradient(hsla(0,0%,100%,.3) 1px, transparent 0),
                  linear-gradient(90deg, hsla(0,0%,100%,.3) 1px, transparent 0);
  background-size: 30px 30px, 30px 30px,
                   10px 10px, 10px 10px;
}

.polka-matrix{
  width: 200px;
  height: 200px;
  background: #655;
  background-image: radial-gradient(tan 30%, transparent 0);
  background-size:30px  30px;
}

.polka-dot{ 
  width: 200px;
  height: 200px;
  background: #655;
  background-image: radial-gradient(tan 30%, transparent 0),
                    radial-gradient(tan 30%, transparent 0);
  background-size:30px 30px;
  background-position: 0 0, 15px 15px; 
}

.check-board{
  width: 200px;
  height: 200px;
  background: #eee;
  background-image: 
	linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 0, transparent 75%, rgba(0,0,0,.25) 0),
	linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 0, transparent 75%, rgba(0,0,0,.25) 0);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
}

.cicada-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cicada-stripes{
  width: 400px;
  height: 200px;
  background: hsl(20, 40%, 90%);
  background-image: 
	linear-gradient(90deg, #fb3 11px, transparent 0),
	linear-gradient(90deg, #ab4 23px, transparent 0),
	linear-gradient(90deg, #655 23px, transparent 0);
  background-size: 83px 100%, 61px 100%, 41px 100%;

}